<table class="table table-light m-auto mt-5" style="width: 70%;">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Título</th>
            <th scope="col">Precio</th>
            <th scope="col">Imagen</th>
        </tr>
    </thead>
    <tbody id="products"></tbody>
  </table>