<div class="container" style="margin-top: 20px;">
    <h4>Chat con Websockets</h4>
    <div id="chat" style="background-color: rgb(185, 185, 185, .6);"></div>
    <form id="form-chat">
      <div class="mb-3">
        <label for="email" class="form-label">Tu email</label>
        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" required>
      </div>
      <div class="mb-3">
        <label for="text-input" class="form-label">Mensaje</label>
        <input type="text" class="form-control" id="text-input" required>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>